In [1]:
# import data exploration libraries
import pandas as pnds
import numpy as nmpy

# import data visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# import regex
import re

# import minmax scaler from scikit
from sklearn.preprocessing import MinMaxScaler

In [2]:
# use pandas .read_csv to read anime.csv and rating.csv
rating = pnds.read_csv('rating.csv')
anime = pnds.read_csv('anime.csv')

In [3]:
# use .head() to visualize first few rows
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [4]:
# use .head() to visualize first few rows
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [5]:
# check which anime have an unknown number of episodes
anime[anime['episodes']=='Unknown'].head(25)

,anime_id,name,genre,type,episodes,rating,members
74,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
252,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,Unknown,8.25,114702
615,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,Unknown,7.94,533578
991,966,Crayon Shin-chan,"Comedy, Ecchi, Kids, School, Shounen, Slice of...",TV,Unknown,7.73,26267
1021,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,Unknown,7.72,5400
1272,21639,Yu☆Gi☆Oh! Arc-V,"Action, Fantasy, Game, Shounen",TV,Unknown,7.61,17571
1309,8687,Doraemon (2005),"Comedy, Kids, Sci-Fi, Shounen",TV,Unknown,7.59,2980
1928,32410,Dimension W: W no Tobira Online,"Sci-Fi, Seinen",Special,Unknown,7.40,4799
1930,30694,Dragon Ball Super,"Action, Adventure, Comedy, Fantasy, Martial Ar...",TV,Unknown,7.40,111443
1993,32977,Aggressive Retsuko,"Comedy, Music",TV,Unknown,7.38,5465
2030,6149,Chibi Maruko-chan (1995),"Comedy, Kids, School, Slice of Life",TV,Unknown,7.37,1113
2073,23539,Gudetama,"Comedy, Kids",TV,Unknown,7.36,2348
2368,34178,Inazuma Eleven: Outer Code,Sports,ONA,Unknown,7.28,1072
2530,34034,Pokemon Sun &amp; Moon,"Action, Game, Kids, School",TV,Unknown,7.23,11030
2721,1199,Nintama Rantarou,"Comedy, Shounen",TV,Unknown,7.18,2255
2738,32717,Aikatsu Stars!,"Music, School, Shoujo, Slice of Life",TV,Unknown,7.17,4485
2777,34077,Cardfight!! Vanguard G: Next,"Action, Game, Shounen",TV,Unknown,7.16,1363
2810,23135,PriPara,"Music, School, Shoujo, Slice of Life",TV,Unknown,7.17,7680
2951,33490,Kaitou Joker 4th Season,"Adventure, Comedy, Mystery, Shounen",TV,Unknown,7.12,1178
3051,7643,Domo-kun,"Comedy, Kids, Slice of Life",TV,Unknown,7.09,1167
3055,13163,Furusato Saisei: Nihon no Mukashibanashi,"Historical, Kids, Supernatural",TV,Unknown,7.09,6820
3574,19157,Youkai Watch,"Comedy, Kids, Supernatural",TV,Unknown,6.95,8147
4735,32829,Nobunaga no Shinobi,"Comedy, Historical",TV,Unknown,6.65,7207
4870,28921,Disney Tsum Tsum,Kids,TV,Unknown,6.61,359
4885,1960,Sore Ike! Anpanman,"Comedy, Fantasy, Kids",TV,Unknown,6.61,940

In [6]:
# input number of episodes for anime with unknown number of episodes
known_episodes = {"One Piece":875, "Detective Conan":942, "Naruto: Shippuuden":500, "Crayon Shin-chan":972, 
                  "Tanaka-kun wa Itsumo Kedaruge Specials":12, "Yu☆Gi☆Oh! Arc-V":148,"Doraemon (2005)":559,
                  "Dimension W: W no Tobira Online":5,"Dragon Ball Super":131,"Aggressive Retsuko":11,
                  "Chibi Maruko-chan (1995)":1032,"Inazuma Eleven: Outer Code":6,"Pokemon Sun &amp; Moon":43,
                  "Youkai Watch":214}

In [7]:
# input episode number to each anime in known_episodes
for i,j in known_episodes.items():
    anime.loc[anime["name"]==i,"episodes"] = j

In [8]:
# set episode number of hentai animes to 1
# set episode number of animes that are movies or OVAs to 1
anime.loc[(anime["genre"] == "Hentai") & (anime["episodes"] == "Unknown"),"episodes"] = "1"
anime.loc[((anime["type"] == "Movie") | (anime["type"] == "OVA")) & (anime["episodes"] == "Unknown"), "episodes"] = "1"

In [9]:
# change type to categorical values using .get_dummies
pnds.get_dummies(anime[["type"]]).head()

   type_Movie  type_Music  type_ONA  type_OVA  type_Special  type_TV
0           1           0         0         0             0        0
1           0           0         0         0             0        1
2           0           0         0         0             0        1
3           0           0         0         0             0        1
4           0           0         0         0             0        1

In [10]:
# 
anime["members"] = anime["members"].astype(float)
anime["rating"] = anime["rating"].astype(float)
anime["rating"].fillna(anime["rating"].median(),inplace = True)

In [11]:
# scaling
anime_feat = pnds.concat([anime["genre"].str.get_dummies(sep=","),
                             pnds.get_dummies(anime[["type"]]),
                             anime[["rating"]], anime[["members"]], anime["episodes"]], axis=1)
anime["name"] = anime["name"].map(lambda name:re.sub('[^A-Za-z0-9]+', " ", name))
anime_feat.head()

,Adventure,Cars,Comedy,Dementia,Demons,Drama,Ecchi,Fantasy,Game,Harem,...,Yaoi,type_Movie,type_Music,type_ONA,type_OVA,type_Special,type_TV,rating,members,episodes
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,9.37,200630.0,1
1,1,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,1,9.26,793665.0,64
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,9.25,114262.0,51
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,9.17,673572.0,24
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,9.16,151266.0,51